<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894436330956-dqhkk7ncltqpbn8jjilsq3efh9laevf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894436330956-dqhkk7ncltqpbn8jjilsq3efh9laevf1</string>
	<key>API_KEY</key>
	<string>AIzaSyDjrmyPKod3YVYkga7Oua8conBtcVssGDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>894436330956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-lab-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-lab-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894436330956:ios:dc17c741a6e8117150a169</string>
</dict>
</plist>